.gallery-card {
    width:340px;
    height:340px;
    display:flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    margin: 20px;
    background: linear-gradient(black, #ff6060);
}

.gallery-card p {
    position:absolute;
    top:80%;
    left: 5%;
    max-width: 70%;
    color:white;
    text-shadow: 1px 1px 3px black;
}

.gallery-card a{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card-cover {
    width:100%;
    height:80%;
    border-radius: inherit;
    object-fit: cover;
}