.gallery-card {
    width:340px;
    display:flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    margin: 20px;
    background: linear-gradient(black, #ff6060);
}

.gallery-card p {
    position:absolute;
    top:80%;
    left: 5%;
    max-width: 70%;
    color:white;
    text-shadow: 1px 1px 3px black;
}

.gallery-card a{
    width: 100%;
    border-radius: inherit;
    display: inline-block;
    position:relative;
}

.gallery-card a:before {
    content: "";
    display:block;
    width:100%;
    padding-top: 100%;
}

.card-cover {
    width:100%;
    height:80%;
    border-radius: inherit;
    object-fit: cover;
    position:absolute;
    top: 0;
    right:0;
    bottom: 0;
    left:0;
}


@media only screen and (max-width: 768px){
    .gallery-card{
    width: 100%;
    margin: 20px 0;
    }
}