.liste-logements {
    width:100%;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 25px;
    background-color: #F6F6F6;
    padding: 30px 0;
    margin: 40px 0 100px 0
}

@media only screen and (max-width: 768px){
    .liste-logements{
        padding: 0;
        background-color: white;
        margin-bottom: -4rem;
    }
}