header {
    width: 100%;
    margin: 40px 0 40px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-flow:row;
}

.logo {
    box-sizing: content-box;
}

@media  (max-width: 768px){

    header a{
        width: 70%;
    }
    
    .logo{
        width: 70%;
    }
}