@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

h1 {
  font-weight: 500;
}


body {
  margin: auto;
  width: 90%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media  (max-width: 770px){
  body{
    width: 90%;
    margin: auto;
  }
}