.nav {
    display: flex;
    justify-content: space-between;
}

.nav li {
    margin: 0 0 0 50px;
}

.nav a {
    text-decoration: none;
    color: #FF6060;
    font-size: 17px;
}

@media (max-width: 780px) {
    nav{
        width: 40%;
    }
    
    .nav{
        padding: 0;
    }
    
    .nav li{
        margin: 0 ;
    }

    .nav a {
        font-size: 14px;
    }
}