.collapse-logements{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.collapse-logements > button{
    padding: 10px;
}

.collapse-logements > div{
    width: 45%;
}

.collapse-logements > div > p{
    height: 200px;
}

@media (max-width: 768px){
    .collapse-logements{
        width: 100%;
        flex-direction: column;
    }

    .collapse-logements > div{
        width: 100%;
    }
}    